#Ignorar todos los archivos de texto.
*.txt

#Ignorar todos los test.js.
test.js

#Ignorar carpetas ajenas a GL.
WebSD
React-test
CodeWars
Java
PRUEBA
.vscode
CSS
RepoCSS
Clase12
Clase13
webDesing
laboratorioWeb